.container{
    display: flex;
    flex-wrap: nowrap;
}
.container-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    padding: 14px;
    background-color: white;
    border: 1px solid #dbdbdb;
    
  }
  .lobster-two-regular {
   
    font-family: "Lobster Two", serif;
    font-size: 20px;
    padding-bottom: 18px;
    padding-left: 8px;
  }
  /* Style container__nav links */
  .container-nav a {
    text-decoration: none;
    color: black;
  }
  .atag
  {
    font-weight: bold;
  }

  /* Style links on mouse-over */
  .container-nav-links :hover {

    background-color:whitesmoke;
    border-radius: 4px;
    text-decoration: none;

  }
  /* Style the main content */


  @media screen and (max-height: 450px) {
    .container-nav {padding-top: 15px;}
    .container-nav a {font-size: 18px;}
  }

  
  .container-nav-links{
   display: flex;
   flex-wrap: nowrap;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    
  }

.container-main-story-content{
  display: flex;
  flex-wrap: nowrap;
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.container-nav-links-final
{
  display: flex;
  flex-wrap: nowrap;
 align-items: center;
 margin-left:5px;
  padding: 6px;

}
.container-nav-links-final a{
  padding :0px 0px 0px 16px;
}
.container-nav-links-final img{

  width:24px;
  height:24px;
}
.container-main{
  padding: 20px;
  margin-left: 240px;
}
.container-fixed
{
  display: flex;
  flex-wrap: nowrap;
}
.container-main-reels{
padding-left: 170px;
}
.container-main-reels-header{
  display: flex;
  flex-wrap: nowrap;
  padding: 40px 10px 10px 10px;
  justify-content: space-between;

}
.container-main-story-content-item p{
  font-family: "Roboto", serif;
  opacity: 0.5;
  font-size: 12px;
  padding-left: 5px;

}
.container-main-story-content-item img
{
  height: 65px;
  width:67px;
}
.container-main-reels-header-p p{
  margin: 0;
}
.reelheader{
  padding-left: 10px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", serif;
}
.container-main-reels-header-p-sp1
{
  color:#737373;
   font-weight: 400;
   font-size: 14px;
}
.container-main-reels-header-p-sp2
{
  font-weight: 800;
}
.reelfooter
{
  padding-top: 5px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto", serif;
  font-stretch: normal;
}
.container-main-reels-header-both{
  display: flex;
  
}
.container-main-reels-header-more {
  padding-top: 20px;
}
.container-main-reels-comments p
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;

}
.container-main-reels-comments-sp1
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.container-main-reels-comments-p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #737373;
  font-size: 14px;
}
.container-main-reels-comments-p1
{
  font-weight: 600;
}
.container-main-reels-comments-p1-sb
{
   font-size: 14px;
}
.container-main-reels-comments-sp2
{
  color: #737373;
}
.container-main-reels-video
{
  
  background-color: black;
  border-radius: 1%;
}
.container-main-reels-footer{
  display: flex;
  padding: 10px;
  padding-left: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
}
.container-main-reels-footer-icons img
{
  padding-right: 10px;

}
.container-Suggestion
{
  padding-left:125px;
  padding-top: 30px;
  width: 100%;
}
.container-Suggestion-header
{
  display:flex;
  justify-content: space-between;
}
.container-Suggestion-header-p p{
  margin: 0;
}
.container-Suggestion-header-both
{
  display: flex;
}
.container-Suggestion-header-more p{
  color:#0095f6;
  font-size: 12px;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}
.container-Suggestion-middle-p1
{
  font-size: 14px;
  color: #737373; 
  font-weight: 600;
}
.container-Suggestion-middle-p2
{
  font-size: 12px;
  font-weight: 600;
  padding-top: 5px;
}
.Suggestionfooter
{
  padding-left: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#737373;
  font-size: 14px;
}
.container-Suggestion-middle
{
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.container-Suggestion-middle p
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.container-Suggestion-end
{
  display: flex;
  flex-direction: column;
  width:289px;

}
.container-Suggestion-footer
{
  width: 287px;
}
.container-Suggestion-footer a
{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 12px;
     color: #c7c7c7;
     text-decoration: none;
     margin:0px 3px;
}
.container-Suggestion-footer-2 p
{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 12px;
   color: #c7c7c7;
   padding: 10px;
   padding-left: 0px;
}
.Suggestionfooter2
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #737373;
  font-size: 12px;
  padding-left: 10px;
}
.container-main-search
{
  display: flex;
  display: none;
  width: 260px;
  height: 36px;
  align-items: center;
  justify-content: flex-start;
  background-color: #efefef;
  border-radius: 10px;
}
.Responsive
{
  display: flex;
  flex-wrap: nowrap;
  display: none;
  width: 570px;
  justify-content: space-between;
}
.container-main-story-responsive-content
  {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    display: none;
  }
@media screen and (max-width: 765px) {
  .container-main-search {
    display: flex;
    justify-content: start;
    width:100%;
  }
  .container-main-story-responsive-content
  {
    display: flex;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
  }
  .container-main-story-responsive-content-item img
  {
    width: 58px;
    height: 58px;
  }
  .container-main-story-responsive-content-item p {
           font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 11px;
            opacity: 0.8;
            padding-top: -20px;
  }
  .container-main-story {
    display: none;
  }

  .container-fixed{
    width:auto;
  }
  .container-Suggestion {
    display: none;
  }
  .container{
    width:100%;
  }
  .container-nav {
    display: none;
  }
  .container-main-reels {
    justify-content: center;
    width:100%;
    padding:0;
  }
  .container-main{
    margin:0;
    width:100%;
  }
  .Responsive{
    margin: 0;
    display: flex;  
    justify-content:start ;
    align-items: center;
    width: 100%;
    bottom: 0;
    background-color:white;
    padding-left: 3px;
    position: fixed ;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 100;
    gap:15%;
  }
  .Responsive img {
     width: 28px;
      height: 28px;
  }
}
.container-main-search-p
{
  padding-left: 10px;
  padding-bottom: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #737373;
}
.container-main-search-img
{
  padding-left: 20px;
}